<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>personal code holder</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="/raihan_app/templates/home.js"></script>
</head>
<body>
    <h1 id="title">WELCOME TO YOUR CODE HOLDER, ID {{ id_check2 }}</h1>
    <div class="dropbutton">
        <button class="drpbutton">CODES</button>
        <div class="dropbutton_content", id="buttonstyle;">
            <a href="raihan_app/login/detection/main_app/{{ id_check2 }}/python_codes">PYTHON</a>
            <a href="raihan_app/login/detection/main_app/{{ id_check2 }}/SQL_codes">SQL</a>
            <a href="raihan_app/login/detection/main_app/{{ id_check2 }}/Javascript_codes"> Javascript</a>
        </div>
    </div>
    <div class="dropbutton">
        <button class="drpbutton">API</button>
        <div class="dropbutton_content", id="buttonstyle;">
            <a href="#">link 1</a>
            <a href="#">link 2</a>
            <a href="#">link 3</a>
        </div>
    </div>
    <div class="dropbutton">
        <button class="drpbutton">Server</button>
        <div class="dropbutton_content", id="buttonstyle;">
            <a href="#">link 1</a>
            <a href="#">link 2</a>
            <a href="#">link 3</a>
        </div>
    </div>
</body>
