<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>personal code holder</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="/raihan_app/templates/home.js"></script>
</head>
<body>
    <h1 id="title">RAIHAN CODE HOLDER</h1>
    <div class="dropbutton">
        <button class="drpbutton">CODES</button>
        <div class="dropbutton_content", id="buttonstyle;">
            <a href="/raihan_app/add/">PYTHON</a>
            <a href="#">SQL</a>
            <a href="#"> Javascript</a>
        </div>
    </div>
    <div class="dropbutton">
        <button class="drpbutton">API</button>
        <div class="dropbutton_content", id="buttonstyle;">
            <a href="#">link 1</a>
            <a href="#">link 2</a>
            <a href="#">link 3</a>
        </div>
    </div>
    <div class="dropbutton">
        <button class="drpbutton">Server</button>
        <div class="dropbutton_content", id="buttonstyle;">
            <a href="#">link 1</a>
            <a href="#">link 2</a>
            <a href="#">link 3</a>
        </div>
    </div>
</body>
